<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/balogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/balogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarngyApp"
        tools:targetApi="31">
        <activity
            android:name=".adminapplicationAdapter.AdminInfoActivity"
            android:exported="false" />
        <activity
            android:name=".adminapplicationAdapter.admin_eventmaker"
            android:exported="false" />
        <activity
            android:name=".adminapplicationAdapter.AdminApplicationMain"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adminapplicationAdapter.adminservices"
            android:exported="false" />
        <activity
            android:name=".adminapplicationAdapter.adminHomePage"
            android:exported="false" /> <!-- Backend activities -->
        <activity
            android:name=".backends.viewapplication"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".backends.viewappointment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".backends.Status"
            android:exported="false" />
        <activity
            android:name=".eventadapter.eventt"
            android:exported="false" />
        <activity
            android:name=".backends.nextforapplication"
            android:exported="false" />
        <activity
            android:name=".backends.brgyInfo"
            android:exported="false" />
        <activity
            android:name=".backends.onlineapplicationn"
            android:exported="false" />
        <activity
            android:name=".backends.onlineappointmentt"
            android:exported="false" />
        <activity
            android:name=".backends.profilee"
            android:exported="false" />
        <activity
            android:name=".backends.servicess"
            android:exported="false" />
        <activity
            android:name=".backends.homepagee"
            android:exported="false" />
        <activity
            android:name=".backends.createe"
            android:exported="false" /> <!-- Login activity (exported for launching the app) -->
        <activity
            android:name=".backends.loginn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>